In [1]:
import pandas as pd

# Load datasets
books = pd.read_csv('BX-Books.csv', encoding='latin1', sep =';', on_bad_lines='skip', dtype=str)
#users = pd.read_csv('BX-Users.csv', encoding='latin1', sep =';',  on_bad_lines='skip', dtype=str)  
ratings = pd.read_csv('BX-Book-Ratings.csv', encoding='latin1', sep= ';',  on_bad_lines='skip', dtype=str)

In [2]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings.head()

  User-ID        ISBN Book-Rating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [5]:
print(books.describe())
print(books.dtypes)

              ISBN      Book-Title      Book-Author Year-Of-Publication  \
count       271360          271360           271358              271360
unique      271360          242135           102022                 118
top     0195153448  Selected Poems  Agatha Christie                2002
freq             1              27              632               17627

        Publisher                                        Image-URL-S  \
count      271358                                             271360
unique      16807                                             271044
top     Harlequin  http://images.amazon.com/images/P/185326119X.0...
freq         7535                                                  2

                                              Image-URL-M  \
count                                              271360
unique                                             271044
top     http://images.amazon.com/images/P/185326119X.0...
freq                                                    2

                                              Image-URL-L
count                                              271357
unique                                             271041
top     http://images.amazon.com/images/P/225307649X.0...
freq                                                    2
ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [7]:
print(ratings.describe())
print(ratings.dtypes)

        User-ID        ISBN Book-Rating
count   1149780     1149780     1149780
unique   105283      340556          11
top       11676  0971880107           0
freq      13602        2502      716109
User-ID        object
ISBN           object
Book-Rating    object
dtype: object

In [8]:
# Check for missing values
print(ratings.isnull().sum())
print(books.isnull().sum())

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64
ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [9]:
# Convert Book-Rating to integer
ratings['Book-Rating'] = pd.to_numeric(ratings['Book-Rating'], errors='coerce').fillna(0).astype(int)

print(ratings.dtypes)

User-ID        object
ISBN           object
Book-Rating     int32
dtype: object

In [10]:
# Dropping the columns which are not necessary in the model.
books = books.drop(['Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L'], axis =1)
books.head()

,ISBN,Book-Title,Book-Author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
2,0060973129,Decision in Normandy,Carlo D'Este
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,0393045218,The Mummies of Urumchi,E. J. W. Barber

In [11]:
data = books.merge(ratings, on='ISBN')

In [12]:
print(data.head())
print(data.dtypes)

         ISBN           Book-Title           Book-Author User-ID  Book-Rating
0  0195153448  Classical Mythology    Mark P. O. Morford       2            0
1  0002005018         Clara Callan  Richard Bruce Wright       8            5
2  0002005018         Clara Callan  Richard Bruce Wright   11400            0
3  0002005018         Clara Callan  Richard Bruce Wright   11676            8
4  0002005018         Clara Callan  Richard Bruce Wright   41385            0
ISBN           object
Book-Title     object
Book-Author    object
User-ID        object
Book-Rating     int32
dtype: object

In [13]:
data.shape

(1031136, 5)

In [14]:
# Check for null values in the merged dataset
null_values = data.isnull().sum()
print(null_values)

ISBN           0
Book-Title     0
Book-Author    2
User-ID        0
Book-Rating    0
dtype: int64

In [15]:
data.to_csv('data.csv', index=False)

In [16]:
data = pd.read_csv('data.csv', encoding='latin1')
data.head()

         ISBN           Book-Title           Book-Author  User-ID  Book-Rating
0  0195153448  Classical Mythology    Mark P. O. Morford        2            0
1  0002005018         Clara Callan  Richard Bruce Wright        8            5
2  0002005018         Clara Callan  Richard Bruce Wright    11400            0
3  0002005018         Clara Callan  Richard Bruce Wright    11676            8
4  0002005018         Clara Callan  Richard Bruce Wright    41385            0

In [17]:
data.isna().sum()

ISBN           0
Book-Title     0
Book-Author    2
User-ID        0
Book-Rating    0
dtype: int64

In [18]:
data['Book-Rating'].count()

1031136

In [25]:
## Group by ISBN and count the number of ratings for each book
ratings_count = data.groupby('ISBN')['Book-Rating'].count()

# Filter books with more than 50 ratings
ratings = ratings_count[ratings_count > 80]

ratings.count()

1024